doctype html
html
  head
    title Stephen Clark
    meta(name='viewport', content='initial-scale=1')
    script(src='script.js')
    link(rel='stylesheet', type='text/css', href='style.css')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Roboto:400,700')
  body
    block content
