* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #dee1ec;
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
  min-width: 45em;
}


/* mini-classes */

h1 {
  font-size: 3em;
}

h2 {
  color: #444;
  font-size: 1.5em;
  font-weight: normal;
}

h3 {
  color: #666;
  font-size: 1.5em;
  font-weight: normal;
}

.active {
  background: #c8cbd6 !important;
}

.container {
  width: 42.5em;
  margin: 0 auto;
  padding: 0 1.25em;
}

.tab {
  display: inline-block;
  width: 33%;
  z-index: -100;
  margin-top: 1.5em;
  text-align: center;
  border-radius: 0.5em 0.5em 0 0 !important;
  overflow: visible !important;
  cursor: pointer;
}

.tab.middle {
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.tab[data-href]:hover:after {
  content: "\29C9";
}

/* element's style */

.cover-photo {
  height: 7.5em;
  min-width: 42.5em;
  background-image: url("media/scc-banner.png");
  background-size: cover;
  background-position: center top;
}

.header, .header .img, .cards > div, .footer {
  box-shadow: 0 0.15em 0.4em rgba(0, 0, 0, .25);
  border-radius: 0.25em;
}

.cards > div, .intro, .footer, .tab {
  padding: 0.5em;
  color: #666;
  font-size: 1em;
  line-height: 1.33;
  border-radius: 0.25em;
  background: white;
  overflow: auto;
}

.cards > div > img,
.cards > div > .video {
  max-width: 13.5em;
  max-height: 9em;
  border-radius: 0.25em;
  background-size: 13.5em 9em;
  /* use flex to center play button */
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  max-height: 3.75em;
  max-width: 3.75em;
}


/* header style */

.header .img {
  float: left;
  height: 4.5em;
  margin-top: -4.5em;
  margin-right: 0.25em;
  margin-bottom: 6em;
  border-radius: 0.25em 0.25em 0 0;
  background-color: white;
}

.header .img > div {
  padding: 0.5em;
  border-radius: 0.25em;
  background-color: white;
}

.header img {
  height: 10em;
  border-radius: 0.25em;
}

.header .wrapper {
  border-radius:0 0.25em 0.25em 0.25em;
  margin-top: -1.75em;
  background-color: white;
}

.name {
  display: table-cell;
  vertical-align: middle;
  height: 6.5em;
}

.intro {
  clear: both;
  padding-top: 0 !important;
}


/* cards style */

.container.cards {
  width: 42.5em;
  padding: 1.25em;
  border-radius: 0.25em;
  background-color: #cdcdcd;
}

.cards > div {
  margin-bottom: 1.5em;
}

.cards > div.last {
  margin-bottom: 0 !important;
}

.cards > div > img,
.cards > div > .video {
  float: right;
  margin-left: 0.75em;
}

.cards > div h3 {
  display: inline-block;
  margin-bottom: 0.25em;
}


/* footer style */

.footer {
  border-radius: 0.25em 5x 0 0;
  margin-top: 1.5em;
  text-align: center;
}


/* default starting style */

.cards > div {
  display: none;
}

.cards > div[data-type="projects"] {
  display: block;
}
