* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #dee1ec;
  font-family: Roboto, Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 16px;
}

header {
  position: relative;
  width: 100%;
  padding: 2em 1em;
}

header:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

header > .img {
  float: left;
  background-color: #547088;
  padding: 0.25em;
  border-radius: 0.25em;
  margin-right: 1em;
  width: 10.5em;
  height: 10.5em;
}

header > .img > img {
  border-radius: 0.25em;
  width: 10em;
  height: 10em;
}

header > .info {
  position: absolute;
  bottom: 2em; /* TODO: Calculated from paddings. */
  left: 12.5em;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

nav {
  padding: 0 1em;
  background-color: #97a5bf;
}
a {
  color: black;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.tab {
  font-size: 1.5em;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: 0.5em;
}

main {
  position: relative;
  display: flex;
  flex-flow: row wrap;
}

main > a {
  flex-basis: calc(100% / 3);
  padding: 1em;
  position: relative;
}

main > a > div {
  height: 0;
  padding: 0;
  padding-bottom: calc(56.25%);
  position: relative;
}

main > a > div > p {
  padding: 0.5em;
  font-size: 1.25em;
  line-height: 1.33;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.15s linear, background-color 0.15s linear;
  color: black;
  font-weight: bold;
  text-align: justify;
}

main > a > div > p:hover {
  background-color: rgba(255,255,255,0.9);
  opacity: 1;
}

[data-src] {
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media screen and (max-width: 800px) {

  header > .img {
    float: none;
    margin: 0 auto 1em auto;
    width: 10.5em;
  }

  header > .img > img {
    display: block;
  }

  header > .info {
    position: initial;
  }

  h1, h2 {
    text-align: center;
  }

  nav {
    display: flex;
  }

  .tab {
    flex-grow: 1;
  }

  .tab:not(:first-child):not(:last-child) {
    border-left: 1px solid black;
  }
}
