<div class="container">

    <div class="social">

        {% for item in site.data.social %}
            <a href="{{ item.href }}" target="_blank">
                <i class="fa fa-{{ item.icon }}"></i>
            </a>
        {% endfor %}

    </div>

    <br style="clear: both;">

    <div class="header">

        <div class="img">
            <div><img src="media/me.jpg"></div>
        </div>

        <div class="wrapper">
            <div class="name">
                <h1>{{ site.author }}</h1>

                <h2>{{ site.promo }}</h2>
            </div>

            <div class="intro">
                <p>{{ site.intro }}</p>
            </div>
        </div>

    </div>
</div>
