<title>{{ site.author }}</title>
<style>{% include style.css %}</style>
<script async>{% include script.js %}</script>
<script async src="http://chameleon.sclark.io/chameleon.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

<link rel="icon" type="image/png" sizes="96x96" href="media/icons/favicon96.png">
<link rel="icon" type="image/png" sizes="32x32" href="media/icons/favicon32.png">
<link rel="icon" type="image/png" sizes="16x16" href="media/icons/favicon16.png">
<link rel="icon" href="media/icons/favicon.ico">

<meta name="theme-color" content="#bfc3d2">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="{{ site.keywords }}">
<meta name="author" content="{{ site.author }}">
<meta name="description" content="{{ site.intro }}">
