---
layout: compress
---

<!-- This webiste is Copyright (&copy;) Stephen Clark, 2016.  -->

<!doctype html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body>
        {% include header.html %}

        <div class="container tabs">
          <div class="tab active" id="default">Projects</div>
          <div class="tab middle">Experience</div>
          <div class="tab" data-href="sclark.pdf">Resume</div>
        </div>

        <div class="container cards active">
            {% for item in site.data.experience %}

                <div data-type="{{ item.category }}">
                    <a href="{{ item.href }}">
                      <img src="media/{{ item.img }}">
                    </a>
                    <a href="{{ item.href }}">
                        <h3>{{ item.title }}</h3>
                    </a>
                    <p>{{ item.info }}</p>
                </div>

            {% endfor %}
        </div>

        {% include footer.html %}
    </body>
</html>
